body{
    padding-top: 20px;
    padding-left: 439px;
    padding-right:435px ;
    padding-bottom: 50px;
    background-color:  hsl(30, 54%, 90%);
    font-family: 'Outfit', sans-serif;

}

.container {
    background-color: white;
    border-radius: 10px;
 /* display: flex; */
 justify-content: center;
flex-direction: column;

  }

  img{
margin-right: 40px;
margin-left: 30px;    
    margin-top: 28px;
    border-radius: 20px;
    width: 540px;
  }
  p{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 16px;
  }
  .prep{
    
    background-color:hsl(330, 100%, 98%);
    margin: 20px;
    border-radius: 15px;
  }
  h1{
  color:  hsl(14, 45%, 36%);
  font-family: 'Young Serif', serif;
  margin-left: 30px;
  }
  h2{
    color:hsl(14, 45%, 36%);
    margin-left: 30px;
  }
  h3{
    margin-left: 22px;
  color:hsl(30, 10%, 34%);
  }
  strong{
    color: hsl(14, 45%, 36%)
  }
  .number{
float: right;
margin-right: 240px;
  }
.vit{
    margin-left: 20px;
}
ul,ol{
color:hsl(14, 45%, 36%) ;
}
.attribution{
    padding-top: 10px;
}
li{
    margin-top: 12px;
}
hr{
    margin-right: 20px;
    margin-left: 20px;
}